html, body {

	margin: 0;
	padding: 0;
	height: 100%;
}

@font-face {
	font-family: 'open_sansregular';
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'open_sanssemibold';
	url('../fonts/opensans-semibold-webfont.woff') format('woff'),
	url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'museo300';
	url('../fonts/museo300-regular-webfont.woff') format('woff'),
	url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'museo500';
	url('../fonts/museo500-regular-webfont.woff') format('woff'),
	url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;

}
h1 {
	font-family: 'museo500';
	font-size: 100px;
	left: 50%;
	margin-left: -144px;
	margin-top: -65px;
	position: absolute;
}

#pageone, #pageinfo {
	background-color: #4e0727;
}
.header {
	background-color: #98004d !important;
	border: none !important;
	color: #ffffff !important;
	height: 60%;
	position: absolute;
	width: 100%;
}
.horizon {
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
}
[data-role="page"] .ui-content {
	position : absolute;
	top      : 60%;
	right    : 0;
	left     : 0;
}
[data-role="header"] {
	background-color: #98004d;
}
.ui-link {
	width: 100px;
}
